<div id="typer_engine_container" <% if master %> class="master" <% elsif !master %> class="type" <% end %>>
	<div class="ref"><%= @verse.ref %></div>
	<div class="verse"><%= @verse.content %></div>
</div>