<% content_for :head do %>

  <%= stylesheet_link_tag    "typer_engine" %>
  <%= javascript_include_tag "typer_engine" %>
<% end %>

<div class="ref"><%= @verse.ref %></div>
<div class="verse"><%= @verse.content %></div>